{
    "chmod": "0755",
    "main": "bin/splasr",
    "output": "bin/splasr.phar",
    "directories": [
        "src"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "tests"
            ],
            "in": "vendor"
        }
    ],
    "git-tag": "git-version",
    "stub": true
}
